.input-wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.input-wrapper span {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.input-wrapper select {
  width: 210px;
  height: 35px;

  box-sizing: border-box;
  padding: 8px 10px;

  border-radius: 10px;
  border: none;
  outline: none;
}

@media (max-width: 400px) {
  .input-wrapper select {
    width: 180px;
  }

  .input-wrapper span {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  .input-wrapper select {
    width: 150px;
  }
}