.header {
  height: 575px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/img/header-background.jpg');
  background-size: cover;
}

.first-screen-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-screen-content h1 {
  width: 660px;

  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

  margin-bottom: 40px;
}

@media (max-width: 765px) {
  .first-screen-content h1 {
    font-size: 38px;
    width: 90%;
  }
}

@media (max-width: 545px) {
  .first-screen-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  .first-screen-content h1 {
    font-size: 28px;
  }
}